@font-face {
  font-family: "Planewalker Regular";
  src: url(../assets/Planewalker.otf) format("opentype");
}

#cards {
  text-align: center;
}

#not-found {
  margin: 0 auto;
  text-align: center;
}

#not-found img {
  max-width: 400px;
}

.hidden {
  display: none;
}

.card-data {
  font-family: "Planewalker Regular", serif;
  min-width: 266px;
  margin-top: 20px;
  text-align: center;
  box-sizing: border-box;;
}

.expanded-info {
  width: 100%;
}

.name-cost {
  text-align: left;
  max-width: 266px;
  margin: 0 auto;
  font-size: 50%;
}

.name-cost, .color-type, .card-text, .rarity-stats {
  background-color: rgba(250, 240, 230, 1);
  border-radius: 6px;
  border: 3px solid BurlyWood;
  padding: 5px;
  color: Sienna;
  font-style: bold;
}

.card-name {
  display: inline-block;
  margin: 0;
}

.mana-cost {
  display: inline-block;
  float: right;
}

.card-image img {
  width: 266px;
  height: 311px;
}

.card-image {
  display: inline-block;
  margin: 0 auto;
  width:266px;
  height: 311px;
}

.data-block {
  text-align: center;
  /*font-size: 125%;*/
  display: inline-block;
  vertical-align: top;
  margin: 0 auto;
  max-width: 266px;
}

.color-type {
  text-align: left;
  width: 100%
}

.card-color {
  display: inline-block;
}

.card-type {
  display: inline-block;
  float: right;
}

.card-text {
  clear: both;
  width: 266px;
  text-align: left;
}

.rarity-stats {
  text-align: left;
  clear: both;
  width: 100%
}

.card-rarity {
  display: inline-block;
}

.power-toughness {
  float: right;
}

@media (min-width: 641px) {
  .name-cost {
    max-width: 532px;
    font-size: 100%;
  }
}
