html {
  background-image: url('../vendor/assets/images/magicDesktop.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center;
  min-height: 100%;
  height: 100%;
  margin-bottom: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
}

/*Form*/

body {
  background: #FAFAFA;
  opacity: 0.9;
  margin-top: 15%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 15%;
}

img {
  width: 100px;
}

.imageTop {
  width: 300px;
}

#appWrapper {
  text-align: center;
  margin-left: 5px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.box {
  margin: 0 auto;
}

.container-1 {
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.search {
  width: 150px;
  height: 25px;
  background-color: #2b303b;
  border: none;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.icon {
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}
/*end form*/
