@font-face {
  font-family: "Magic:the Gathering";
  src: url(../assets/MAGIC.TTF) format("truetype");
}

html {
  font-family: "Planewalker Regular", serif;
  background-image: url('../vendor/assets/images/magicDesktop.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center;
  min-height: 100%;
  height: 100%;
  background-attachment: fixed;
}

body {
  font-size: 25px;
  margin-top: 1em;
  margin-left: 10%;
  margin-right: 10%;
  /*margin-bottom: 15%;*/
}

#search-submit, #search-again {
  text-align: center;
  border-radius: 12px;
  padding: 10px;
  margin: 0 auto;
  font-family: "Magic:the Gathering";
  color: white;
  font-size: 1.1em;
  border-style: none;
  background-color: maroon;
  margin-top: 10px;
}

#hidden-search {
  text-align: center;
}

#loadingSvg {
  /*margin: 0 auto;*/
  text-align: center;
}

.body img {
  max-height: 100%;
  max-width: 100%;
}

ul, li {
  font-family: "Planewalker Regular", serif;
  font-size: 25px;
  list-style-type: none;
  padding-left: 0;
}

li {
  display: inline;
}

#appWrapper {
  text-align: center;
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 1em;
  padding-bottom: 0.75em;
  background: #FAFAFA;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  opacity: 0.9;
  z-index: -10;
}

.imageTop {
  width: 300px;
  margin: 0 auto;
}

.list-group-item img {
  max-width: 16%;
}

/* videos */

.intrinsic-container {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 10%;
}

.intrinsic-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
}

.slick-dots {
  position: static;
}

footer {
  color: #FAFAFA;
}

@media only screen and (min-width: 890px) {
  .list-group-item img {
    max-width: 5%;
  }

  .slider-for {
    margin-right: 25%;
    margin-left: 25%;
    margin-bottom: 1em;
  }

  .slider-nav {
    margin-right: 25%;
    margin-left: 25%;
  }
  button.slick-next.slick-arrow::before, button.slick-prev.slick-arrow::before {
    color: #000;
    opacity: 1;
    z-index: 10;
  }
}

#credits {
  text-align: center;
  display: block;
}

a.creditLinks:hover {
  color: black;
  text-decoration: underline;
}
