@font-face {
  font-family: "Magic:the Gathering";
  src: url(../assets/MAGIC.TTF) format("truetype");
}

html {
  font-family: "Planewalker Regular", serif;
  background-image: url('../vendor/assets/images/magicDesktop.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center;
  min-height: 100%;
  height: 100%;
  margin-bottom: 0px;
  background-attachment: fixed;
}

/*Form*/

body {
  font-family: "Planewalker Regular", serif;
  font-size: 25px;
  background: #FAFAFA;
  opacity: 0.9;
  margin-top: 1em;
  margin-left: 10%;
  margin-right: 10%;
  /*margin-bottom: 15%;*/
}

#search-submit {
  text-align: center;
  border-radius: 12px;
  padding: 10px;
  margin: 0 auto;
  font-family: "Magic:the Gathering";
  color: white;
  font-size: 1.1em;
  border-style: none;
  background-color: maroon;
  margin-top: 10px;
}

.body img {
  max-height: 275px;
  max-width: 275px;
}

.list-group-item img {
  max-width: 100px;
}

.imageTop {
  width: 300px;
  padding-left: 20px;
}

#appWrapper {
  text-align: center;
  margin-left: 1px;
  margin-right: 1px;
  padding-bottom: 1em;
  margin-bottom: 30px;
}

ul, li {
  font-family: "Planewalker Regular", serif;
  font-size: 25px;
  list-style-type: none;
  padding-left: 0;
}

li {
  font-family: "Planewalker Regular", serif;
  font-size: 25px;
  display: inline;
}
/*end form*/

.intrinsic-container {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 10%;
}

.intrinsic-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
}

.slick-dots {
  position: static;
}

@media only screen and (min-width: 497px) {
  .imageTop {
    max-width: 100%;
    padding-left: 80px;
  }
}
@media only screen and (min-width: 890px) {
  .slider-for {
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
  }
}
